doctype html
html
  head
    title freeCodeCamp VOTING APP
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/main.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.2.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
  body
    #line
    #page
      if !user
        #header
          #auth
            a 
              i.fa.fa-facebook
            a 
              i.fa.fa-twitter
            a 
              i.fa.fa-google
          #local
            p 
              a(href="/login")
                | LOGIN 
              span or 
              a(href="/signup")
                | REGISTER
      else
        #authenticated
          a(href="/polls")
            | My Polls
          a(href="/poll/new")
            | New Poll
          a
            - if (user.local.name)
                | #{user.local.name}
            - else if (user.facebook.name)
                | #{user.facebook.name}
            - else if (user.twitter.displayName)
                | #{user.twitter.displayName}
            - else if (user.google.name)
                | #{user.google.name}
            span
              |  
              i.fa.fa-caret-down
          #dropdown.hidden
            a(href="/profile")
              | Profile
            a(href="/logout")
              | Log Out
      #voting
        #icon
          a
            i.fa.fa-thumbs-up
        #name
          p
            | VOTE
      #main
        p
          | Select a poll to see the results and vote, or sign-in to make a new poll.
      hr
      ul#polls
        each value in data
          a.poll(href="/poll/#{value._id}")
            p= value.question
            
    script(type='text/javascript', src='assets/javascript/main.js')